@model Pk2_RSVPwapp.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>agradecimientoss</title>
</head>
<body>

    @{
        try{
            WebMail.SmtpServer = "smtp.gmail.com";
            WebMail.SmtpPort = 587;
            WebMail.EnableSsl = true;
            WebMail.UserName = "jose.vladimir.nunez@gmail.com";
            WebMail.Password = "vlad123456789";
            WebMail.From = "jose.vladimir.nunez@gmail.com";
            
            WebMail.Send("jose.vladimir.nunez@gmail.com", "Notificacion RSVP", Model.Name + ((Model.WillAttend ?? false)? "" : "no")+ "Atendera");
   
            }
            
            catch(Exception)
        {
            @:<b>Error No se pudo enviar el correo para confirmar</b>
            }
                
    }
    <div>
        <h1>¡Gracias, @Model.Name! </h1>
        @if (Model.WillAttend == true)
        { 
        @: Que bueno que vendras, Las chelas estaran lista en el refri!.
        }
        else
        {
        @: Siento mucho que no puedas venir! :(, pero muchas gracias por informarlo 
        }
    </div>
</body>
</html>
