@{
    Layout = null;
     
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>

    </head>
    <body>
        <div>
            <b>@ViewBag.Greeting Amigo</b>(From the View)
            <p>Vamos a tener una fiesta increible<br/>
                (Todo: Mejorar redaccion, Agregar fotos o algo.)
            <br />   @Html.ActionLink("RSVP Ahora", "RsvpForm");
            </p>
        </div>
    </body>
</html>